<div class="hero-banner bg-cover up-slant">
  <div class="hero-content " style="background-color:white;">
    <h1>HellaGenki</h1>
    <h2>Keep track of your favorite anime here</h2>
  </div>
</div>
<div class="inner content">
<div class="shows-section pt50">
  <div class="section-nav">
    <h2 class="section-header">Add a show</h2>
    <%= link_to "home", shows_path, class: "btn-white shadow fancy-glow" %>
  </div>
  <div class="form-container shadow"><%= simple_form_for @show do |s| %>
      <%= s.input :title %>
      <%= s.input :release_year %>
      <%= s.input :description %>
      <%= s.submit %>
    <% end %></div>
</div>
